.navbar{
    background-color: #333;
    color: white;
    padding: 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #f4f4f4;
}


.side {
    display: flex;
    height: 30vh; 
}

.sidebar1 {
    flex: 1;
    background-color: green;
    text-align: justify;
}

.sidebar2 {
    flex: 1;
    background-color: tomato;
    text-align: end;
}


.footer{
    background-color: #db6464;
    color: white;
    padding: 10px;
    text-align: center;
}
/* .function{
    text-decoration: line-through;
    text-shadow: 0cap;
    text-transform: calc();
    top: 0cqh;
    
    
} */